# Iroh's Tea Shop

### NumPy & Pandas Exercise
1. Create an array of prices for the drinks being sold
2. Display the prices as a dataframe
3. Create a matrix of cups of tea sold over the course of a week
4. Create a dataframe with the cups sold
5. Add a column to the dataframe with the total sales on each day

In [1]:
import numpy as np
import pandas as pd

In [2]:
prices = np.array([4.75, 5.50, 5.00, 6.00, 6.25], dtype='float32')

prices.shape

(5,)

In [3]:
tea_prices = pd.DataFrame(prices,
                          index=["Oolong Tea", "Jasmine Tea", "Green Tea", "Matcha", "Hot Cocoa"],
                          columns=["Price ($)"])
tea_prices

             Price ($)
Oolong Tea        4.75
Jasmine Tea       5.50
Green Tea         5.00
Matcha            6.00
Hot Cocoa         6.25

In [4]:
np.random.seed(3000)

cups_sold = np.random.randint(50, 250, size=(7,5))
cups_sold

array([[101,  51, 224, 231,  76],
       [134, 139, 128, 180,  80],
       [ 90, 172, 219, 193, 138],
       [208,  68, 237, 144, 154],
       [212, 140, 116, 149, 243],
       [ 97,  70,  57,  92,  85],
       [231, 159, 247, 200,  51]])

In [5]:
daily_sales = pd.DataFrame(cups_sold,
                            index=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                            columns=["Oolong Tea", "Jasmine Tea", "Green Tea", "Matcha", "Hot Cocoa"])
daily_sales

     Oolong Tea  Jasmine Tea  Green Tea  Matcha  Hot Cocoa
Mon         101           51        224     231         76
Tue         134          139        128     180         80
Wed          90          172        219     193        138
Thu         208           68        237     144        154
Fri         212          140        116     149        243
Sat          97           70         57      92         85
Sun         231          159        247     200         51

In [6]:
# Daily Sales (7,5)
# Prices      (5,1)

opening_week_sales = daily_sales.dot(prices)

opening_week_sales # Type: pandas.core.series.Series

Mon    3741.25
Tue    3621.00
Wed    4489.00
Thu    4373.50
Fri    4769.75
Sat    2214.00
Sun    4725.50
dtype: float64

In [7]:
daily_sales["Total ($)"] = opening_week_sales
daily_sales

     Oolong Tea  Jasmine Tea  Green Tea  Matcha  Hot Cocoa  Total ($)
Mon         101           51        224     231         76    3741.25
Tue         134          139        128     180         80    3621.00
Wed          90          172        219     193        138    4489.00
Thu         208           68        237     144        154    4373.50
Fri         212          140        116     149        243    4769.75
Sat          97           70         57      92         85    2214.00
Sun         231          159        247     200         51    4725.50